body {
    background-image: url(/image/image.png);
    font-family: 'Poppins', sans-serif;
        font-family: 'Quicksand', sans-serif;
}

h2 {
    color: blueviolet;
    font-family: 'Quicksand', sans-serif;
    font-size: 3em;
    font-weight: 80px; 
}

#cat-imgs{
    position: right;
    border: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black; width: 700px;
    
}
#carousel{
    height: 500px;
    max-width: 700px;
}

#logo{
    height: 175px;
}

.container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-right: 7rem;
}

#clicker{
    height: 175px;
    cursor: pointer;

}

#clicker2{
    display: none;
}


